apiVersion: v1
name: kube2iam
version: 3.0.0
appVersion: 0.10.9
description: Provide IAM credentials to pods based on annotations.
keywords:
- kube2iam
- aws
- iam
- security
home: https://github.com/jtblin/kube2iam
sources:
- https://github.com/jtblin/kube2iam
maintainers:
- name: mariusv
  email: myself@mariusv.com
engine: gotpl
